.accordion {
  width: 100%;
  background-color: var(--darkGreyBgColor);
}

.accordion_container {
  max-width: var(--contentSize);
  margin: 0 auto;
  padding: 0 40px;
}

.accordion_head {
  display: flex;
  justify-content: space-between;
  padding: 105px 0 20px 0;
  align-items: center;
}

.accordion_head h3 {
  font-size: var(--FS24);
  font-weight: 400;
}

.accordion_head a {
  font-size: var(--FS20);
  color: var(--blueColor);
  font-weight: 600;
  transition: ease .4s;
}

.accordion_head a:hover {
  color: var(--arrowIconColor);
}

#accordion_questions {
  padding-bottom: 72px;
}

.accordion-item {
  border-bottom: 1px solid var(--accordionBorder);
  width: 100%;
}

.accordion-item .accordion-button {
  color: var(--arrowIconColor);
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  font-size: var(--FS18);
  font-weight: 500;
  min-height: 75px;
}

.accordion-item .no-display+div {
  display: none;
}

.accordion-item .accordion-button img {
  transform: rotate(180deg);
}

.accordion-item .no-display img {
  transform: rotate(0deg);
}

.accordion-dropdown {
  margin-bottom: 30px;
  font-size: var(--FS14);
  line-height: 2;
}

.accordion-dropdown>p {
  padding: 2px 0 3px 0;
}

.accordion-dropdown>div {
  padding: 35px 0 35px 20px;
}

.accordion-dropdown>div p {
  line-height: 26px;
  padding-bottom: 8px;
}

.accordion-dropdown>div p:last-child {
  padding-bottom: 0;
}

.accordion-dropdown span {
  font-weight: 700;
}

@media(max-width:600px) {

  .accordion_head h3 {
    margin-right: 5px;
  }

  .accordion_head a {
    text-align: end;
  }

  .accordion-item .accordion-button {
    text-align: start;
  }
}