header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 84px;
  background-color: var(--footerBgColor);
  z-index: 1;
  transition: ease .4s;
}

.header_scroll {
  opacity: 0.95;
  background-color: var(--navHoverColor);
}

.header_block {
  top: -100%;
}

.tbc_icon {
  width: 182px;
  height: 40px;
}

.tbc_icon a {
  width: 100%;
  height: 100%;
}

.tbc_icon a img {
  width: 100%;
  height: 100%;
}

nav {
  width: var(--contentSize);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.navigation_list,
.burger_navigation_list {
  display: flex;
  list-style: none;
}

.navigation_list li {
  padding: 0 25px;
}

.navigation_list li:last-child {
  padding-right: 0;
}

.navigation_list li a,
.burger_navigation_list li a {
  line-height: 26px;
  color: var(--textColor);
  font-weight: 500;
  transition: ease .4s;
  font-size: var(--FS14);
}

.navigation_list li a:hover,
.burger_navigation_list li a:hover {
  color: var(--blueColor);
}

.navigation_list li .navLink_active,
.burger_navigation_list li .navLink_active {
  color: var(--blueColor);
}

.burger_menu {
  display: none;
}

.burger {
  display: flex;
  width: 26px;
  height: 21px;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 3;
  transition: ease .4s;
  color: var(--arrowIconColor);
  cursor: pointer;
}

.burger span {
  width: 50%;
  height: 3px;
  background-color: var(--arrowIconColor);
  border-radius: 10px;
  transition: ease .4s;
}

.burger span:nth-child(2) {
  width: 100%;
}

.burger span:nth-child(3) {
  margin-left: 50%;
}

.no_scroll .burger span {
  background-color: var(--popupTextColor);
}

.no_scroll .burger .burger_line_1 {
  transform-origin: right;
  transform: rotate(-90deg) translateX(4px);
}

.no_scroll .burger {
  transform: rotate(-45deg);
}

.no_scroll .burger .burger_line_3 {
  transform-origin: left;
  transform: rotate(-90deg) translateX(-4px);
}

.burger_navigation_container {
  opacity: 0;
  position: fixed;
  width: 65%;
  height: 100%;
  right: -100%;
  top: 0;
  background-color: var(--navHoverColor);
  z-index: 2;
  display: flex;
  flex-direction: row-reverse;
  transition: ease .4s;
}

.burger_navigation_list {
  display: flex;
  flex-direction: column;
  text-align: end;
  padding-right: 20px;
  max-height: 80%;
  overflow-y: auto;
  position: absolute;
  top: var(--fixedHeight);
}

.burger_navigation_list li {
  padding: 10px 0;
  margin: 15px 0;
}

.burger_navigation_list li a {
  font-size: var(--FS34);
}

@media(max-width:980px) {

  .burger_menu {
    display: block;
  }

  .navigation_list {
    display: none;
  }

}