header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 84px;
  background-color: var(--footerBgColor);
  z-index: 1;
  transition: ease .4s;
}

.header_scroll {
  opacity: 0.95;
  background-color: var(--navHoverColor);
}

.tbc_icon {
  width: 182px;
  height: 40px;
}

.tbc_icon a {
  width: 100%;
  height: 100%;
}

.tbc_icon a img {
  width: 100%;
  height: 100%;
}

nav {
  width: var(--contentSize);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.navigation_list {
  display: flex;
  list-style: none;
}

.navigation_list li {
  padding: 0 25px;
}

.navigation_list li:last-child {
  padding-right: 0;
}

.navigation_list li a {
  line-height: 26px;
  color: var(--textColor);
  font-weight: 500;
  transition: ease .4s;
}

.navigation_list li a:hover {
  color: var(--darkBlueColor);
}

.navigation_list li .navLink_active {
  color: var(--darkBlueColor);
}

.burger {
  display: none;
  width: 26px;
  height: 21px;
}

.burger div {
  width: 50%;
  height: 3px;
  background-color: var(--arrowIconColor);
  border-radius: 1.5px;
}

/* .burger div:nth-child(1) {
  transform-origin: right;
  grid-column: 1/ span 2;
}

.burger div:nth-child(2) {
  width: 100%;
  grid-column: 1/ span 2;
}

.burger div:nth-child(3) {
  transform-origin: left;
  grid-column: 1/span 3;
} */

.burger div:nth-child(1) {
  transform-origin: right;
}

.burger div:nth-child(2) {
  width: 100%;
}

.burger div:nth-child(3) {
  transform-origin: left;
  align-self: flex-end;
}

@media(max-width:980px) {
  .burger {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  nav {
    margin: 0 calc(50px * var(--scaleFactor));
  }

  .navigation_list {
    position: fixed;
    width: 100%;
    height: 100%;
    right: -100%;
  }

}