@import url(./resets.css);

body {
  color: var(--darkBlueColor);
}

:root {
  --blueColor: rgb(0, 174, 239);
  --darkBlueColor: rgb(0, 136, 203);
  --textColor: rgb(244, 244, 244);
  --darkGreyBgColor: rgb(26, 30, 31);
  --greyBgColor: rgb(43, 43, 43);
  --footerBgColor: rgb(26, 30, 31);
}